
// ***************** //
// *** VARIABLES *** //
// ***************** //

// Colors
$color-white: #FFFFFF;
$color-black: #363838;
$color-gray: #707070;
$color-dark-gray: #5A5A5A;
$color-light-gray: #DFDFDF;
$color-lemon: #FFEF35;
