
//- ************** -//
//- *** FOOTER *** -//
//- ************** -//

footer.footer
    .footer__top-side
      .main-container
        .footer__inner
          .footer__column.footer__column--1
            h3.footer__header Contact Us
            p.footer__slogan Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
            .footer__company-email
              img(src='/img/icons/email.svg' alt='')
              em ouremailaddress@email.com

            form.footer__subscribe-form.subscribe-form(action='#' method='get')
              input.subscribe-form__email(type='email' name='user-email' required placeholder='Subscribe by email')
              button.subscribe-form__send(type='submit') Send

          .footer__column.footer__column--2
            .footer__social-networks.social-networks
              ul.social-networks__list
                li.social-networks__item
                  img.social-networks__icon(src='/img/icons/facebook.svg' alt='')
                  a.social-networks__link(href='#') Facebook

                li.social-networks__item
                  img.social-networks__icon(src='/img/icons/instagram.svg' alt='')
                  a.social-networks__link(href='#') Instagram

                li.social-networks__item
                  img.social-networks__icon(src='/img/icons/pinterest.svg' alt='')
                  a.social-networks__link(href='#') Pinterest

                li.social-networks__item
                  img.social-networks__icon(src='/img/icons/whatsapp.svg' alt='')
                  a.social-networks__link(href='#') WhatsApp

                li.social-networks__item
                  img.social-networks__icon(src='/img/icons/youtube.svg' alt='')
                  a.social-networks__link(href='#') YouTube

          .footer__column.footer__column--3
            .footer__contacts.contacts
              ul.contacts__list
                li.contacts__item
                  a.contact__link(href='#') Delivery

                li.contacts__item
                  a.contact__link(href='#') FAQ

                li.contacts__item
                  a.contact__link(href='#') Help

                li.contacts__item
                  a.contact__link(href='#') More About Us

    .footer__bottom-side
      .main-container
        .footer__locations
          p.footer__location.footer__location--street 674 Gonzales Drive.
          p.footer__location.footer__location--city Washington, PA 15301
