
//- ************** -//
//- *** HEADER *** -//
//- ************** -//

mixin header(active)
  header.header
    .main-container
      .header__inner
        .header__column.header__column--1
          nav.header__navigation.navigation
            ul.navigation__list
              li.navigation__item
                a.navigation__link.navigation__link--about(class=(active == 'about' ? 'navigation__link--active' : '') href='/html/about.html') About
              
              li.navigation__item
                a.navigation__link.navigation__link--galary(class=(active == 'galary' ? 'navigation__link--active' : '') href='/html/galary.html') Galary

        .header__column.header__column--2
          a(href='index.html')
            img.header__logotype(src='/img/icons/logotype.png' alt='Desire Logotype')

        .header__column.header__column--3
          nav.header__navigation.navigation
            ul.navigation__list
              li.navigation__item
                a.navigation__link.navigation__link--blog(class=(active == 'blog' ? 'navigation__link--active' : '') href='/html/blog.html') Blog
              
              li.navigation__item
                a.navigation__link.navigation__link--contact(class=(active == 'contact' ? 'navigation__link--active' : '') href='/html/contact.html') Contact

              li.navigation__item
                a.navigation__submenu(href='#' title='Menu'): img(src='/img/icons/menu.svg' alt='Menu')
