
//- ************** -//
//- *** HEADER *** -//
//- ************** -//

mixin header(active)
  header.header
    .main-container
      .header__inner
        .header__column.header__column--1
          nav.header__navigation.navigation
            ul.navigation__list
              li.navigation__item
                a.navigation__link.navigation__link--about(class=(active == 'about' ? 'navigation__link--active' : '') href='/html/about.html') About
              
              li.navigation__item
                a.navigation__link.navigation__link--galary(class=(active == 'galary' ? 'navigation__link--active' : '') href='/html/galary.html') Galary

        .header__column.header__column--2
          a(href='index.html'): img.header__logotype(src='/img/logotypes/logotype-header.png' alt='Desire Logotype')

        .header__column.header__column--3
          nav.header__navigation.navigation
            ul.navigation__list
              li.navigation__item
                a.navigation__link.navigation__link--blog(class=(active == 'blog' ? 'navigation__link--active' : '') href='/html/blog.html') Blog
              
              li.navigation__item
                a.navigation__link.navigation__link--contact(class=(active == 'contact' ? 'navigation__link--active' : '') href='/html/contact.html') Contact

              li.navigation__item
                button.navigation__submenu(title='Menu'): img(src='/img/icons/menu.svg' alt='Menu')

      .header__popup-menu.popup-menu
        .popup-menu__inner
          button.popup-menu__close: img(src='/img/icons/close.svg' alt='Close')
          a(href='index.html'): img.popup-menu__logotype(src='/img/logotypes/logotype-popup-menu.png' alt='Desire Logotype')
          h4.popup-menu__header.block-header.block-header--centered Furniture for life
          p.popup-menu__header-text.block-header-text Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn
          img.popup-menu__image(src='/img/popup-menu/1.jpg' alt='')
