doctype html
html(lang="en")
  include general/_head.pug
  include general/_links.pug

  +links(group='index')

  body
    .wrapper
      include components/_header.pug
      +header()

      include components/_footer.pug
