
//- ************** -//
//- *** SLIDER *** -//
//- ************** -//

//- JQuery3 Minified
script(src='https://code.jquery.com/jquery-3.6.4.min.js' integrity='sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=' crossorigin='anonymous')

//- Slick Carousel
script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js' integrity='sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==' crossorigin='anonymous' referrerpolicy='no-referrer')

//- Slick configuration
script(src='/js/slider.js')
