
// ********************** //
// *** GENERAL STYLES *** //
// ********************** //

@import 'supportive/fonts';
@import 'supportive/variables';

@import 'components/header';
@import 'components/footer';


html, body {
  height: 100%;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  color: $color-black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

// Pin footer to the end of page
header.header { flex: 0 0 auto; }
main.main     { flex: 1 0 auto; }
footer.footer { flex: 0 0 auto; }

// Containers
.main-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

// Page Headers
.block-header {
  line-height: 60px;

  &::after {
    content: '';

    display: block;
    width: 252px;
    height: 1px;
    margin-top: 12px;

    background-color: $color-gray;
  }
}

.block-header--centered {
  text-align: center;
  &::after { margin: 0 auto; }
}

.block-header-text {
  margin-top: 17px;

  font-weight: 400;
  color: $color-gray;
  line-height: 27px;
}

// Slick carousel
.slider {
  position: relative;

  &__item {
    display: flex !important;
    align-items: center;
    column-gap: 19px;
  }

  &__header {
    font-size: 110px;
    line-height: 134px;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    column-gap: 30px;
    bottom: 0;
    left: 55%;

    button {
      font-size: 0;
      width: 8px;
      height: 8px;
      
      border: none;
      border-radius: 50%;
      background-color: $color-black;

      cursor: pointer;
    }

    .slick-active button { background-color: $color-lemon; }
  }
}